---
import './src/styles/global.css';

const pages = [
	{ href: '/about', label: 'About' },
	{ href: '/blog', label: 'Blog' },
	{ href: '/reading', label: 'Reading' },
	{ href: '/projects', label: 'Projects' },
	{ href: '/guestbook', label: 'Guestbook' },
	{ href: '/graph', label: 'Graph' },
	{ href: '/changelog', label: 'Changelog' },
]
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Page not found</title>

	</head>
	<body class="antialiased m-8">
		<div class="flex">
			<div class="hidden md:block w-32 text-[0.85rem] leading-6">
				<a href="/" class="font-semibold">michahl.com</a>
				<div class="mt-5 flex flex-col items-start gap-2 text-neutral-400">
					{
						pages.map((page) => (
							<a	
								href={page.href}
								class={`${Astro.url.pathname === page.href ? 'text-neutral-900 font-semibold' : ''} hover:text-neutral-900 transition-colors duration-200`}
							>
								{page.label}
							</a>
						))
					}
				</div>
			</div>
			<div class="text-[0.85rem] leading-6 max-w-xl">
                The page you are looking for does not exist. It may have been removed, had its name changed, or is temporarily unavailable.
            </div>
		</div>
	</body>
</html>