---
import Layout from '../layouts/Layout.astro';

const projects = [
	{
		name: 'nodal',
		url: 'https://nodal.michahl.com',
		description: 'turn your questions into ai-generated graphs',
		details: 'Visualize questions as expandable knowledge graphs using Sonar, with summaries, explanations, reasoning, and source links in each node.',
	},

]
---

<Layout>
	<div class="text-[0.85rem] leading-6">

		<section>
			<p>Michail Christoforatos</p>
			<p>Software Developer</p>
			<p>Athens, Greece</p>
		</section>

		<section class="mt-14 flex flex-col gap-1 md:flex-row md:gap-10">
			<span class="text-neutral-400">Projects</span>
			<div>
				{
					projects.map((project) => (
						<div class="mb-2">
							<div class="flex items-center gap-3">
								<a href={project.url} target="_blank" class="underline underline-offset-2 decoration-dotted">
									{project.name}
								</a>
								<p class="text-neutral-400">{project.description}</p>
							</div>
							<p class="mt-2 leading-5 border-l px-2.5 border-neutral-200 text-neutral-400 italic">
								{project.details}
							</p>
						</div>
					)).slice(0, 3)
				}
				{ projects.length > 3 && (
					<p class="text-neutral-400 text-[0.8rem]">
						<a href="/projects" class="underline underline-offset-2 decoration-dotted">View</a> more projects.
					</p>
				)}
			</div>
		</section>
	</div>
</Layout>